
<div class="content clearfix">

  <div class="card">
    <div class="match-progress"></div>
    <div class="time clearfix">
      <div class="value">53.24</div>
    </div>

    <div class="result home clearfix">
      <div class="team-badge">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Logo_FC_Bayern_M%C3%BCnchen.svg" alt="">
      </div>
      <div class="team-name">Bayern München</div>
      <div class="score update">1</div>
    </div>

    <div class="result away clearfix">
      <div class="team-badge">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Borussia_Dortmund_logo.svg" alt="">
      </div>
      <div class="team-name">Borussia Dortmund</div>
      <div class="score">2</div>
    </div>
  
  </div>

  <div class="card">
    <div class="match-progress"></div>
    <div class="time clearfix">
      <div class="value">53.24</div>
    </div>

    <div class="result home clearfix">
      <div class="team-badge">
        <img src="http://upload.wikimedia.org/wikipedia/commons/a/ab/VfB_Stuttgart_Logo.svg" alt="">
      </div>
      <div class="team-name">Stuttgart</div>
      <div class="score">3</div>
    </div>

    <div class="result away clearfix">
      <div class="team-badge">
        <img src="http://upload.wikimedia.org/wikipedia/de/1/16/1._FC_Köln.svg" alt="">
      </div>
      <div class="team-name">Köln</div>
      <div class="score">0</div>
    </div>
  
  </div>
  
</div>